$resizable-side-size: 3px !default;
$resizeable-side-bg: $primary !default;

#{$root}-resizable {
  position: relative;
  &__top,
  &__right,
  &__bottom,
  &__left {
    position: absolute;
    background-color: rgba($resizeable-side-bg, 0);
    user-select: none;
    transition: background-color 0.2s ease-out;
    &:hover,
    &:active {
      background-color: rgba($resizeable-side-bg, 1);
      transition: background-color 0.2s 0.3s ease-out;
    }
  }

  &__top,
  &__bottom {
    left: 0;
    width: 100%;
    height: $resizable-side-size;
    cursor: row-resize;
  }

  &__right,
  &__left {
    top: 0;
    width: $resizable-side-size;
    height: 100%;
    cursor: col-resize;
  }

  &__top {
    top: 0;
  }
  &__right {
    right: 0;
  }
  &__bottom {
    bottom: 0;
  }
  &__left {
    left: 0;
  }
}
