extends layouts/default

append head
  block stylesheets
    link(rel='stylesheet' href=`${request.assetsBasePath}/builder/index.css`)
append body
  #form-builder
  script !{script}
  script(src=`${request.assetsBasePath}/builder/index.js`)
