extends layouts/default

append body
  .d-flex.align-items-center.justify-content-center.vh-100
    div
      .text-center
        h1.display-1.fw-bold #{error.statusCode}
        p.fs-3
          span.text-danger Opps!
          |  #{error.name}
        p.lead
          | #{error.message}
        a.btn.btn-outline-dark(href='/') Go Home

      if isDev
        .row
          pre.col-md-10.offset-md-1 #{error.stack}



