extends layouts/default

append head
  block stylesheets
    link(rel='stylesheet' href=`${request.assetsBasePath}/form-engine/index.css`)

append body
  script.
    (function(g){g.FormEngine = Object.assign(g.FormEngine || {}, !{JSON.stringify(engineSettings)})})(window)
  script(type="application/form-engine-configuration") !{JSON.stringify({form,session})}
  script(src=`${request.assetsBasePath}/form-engine/index.js`)