extends layouts/default

append body
  .d-flex.align-items-center.justify-content-center.vh-100
    .text-center
      h1.display-1.fw-bold Form Engine
      a.btn.btn-outline-dark(href='/builder') Open Builder

