:root {
    --code-editor-offcanvas-end-width: 35vw;
}

#{$root}-offcanvas-editor {
    transition: none;
    &.offcanvas-end {
        border-left: 1px solid $dark;
        width: var(--code-editor-offcanvas-end-width);
    }
    .offcanvas-header {
        background-color: $gray-900;
        color: $gray-500;
        .offcanvas-title {
            font-size: .8rem;
        }
        .btn-close {
            transform: scale(.5);
        }
    }
    .offcanvas-body {
        background: #1e1e1e;
        padding: 0;
    }
}

#{$root}-offcanvas-editor--show-end #{$root}-app {
    margin-right: var(--code-editor-offcanvas-end-width);
}