.row.fe-facette-select {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0.5rem;
    margin-bottom: 2rem;
}

.fe-facette-select-button {
    appearance: none;
    border: 2px solid var(--bs-gray-200);
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: left;
    &:hover {
        border: 2px solid var(--bs-gray-300);
    }
    &.active {
        border-color: var(--bs-primary);
    }
}

.fe-facette-select-button img {
    flex: 0 0 auto;
    height: 4rem;
    width: auto;
    object-fit: contain;
    margin-right: 1rem;
    user-select: none;
}