#{$root} .feb-diff-text {
    display: block;
    min-height: 1em;
    max-width: 100%;
    position: relative;
    flex-grow: 1;
    >span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        left: 0;
        line-height: 1;
    }
}