.feb-cursor {
  pointer-events: none;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translate(calc(var(--mouse-x) * 1px), calc(var(--mouse-y) * 1px));
  opacity: 0;
  will-change: transform;
  &.show {
    opacity: 1;
  }
}

html.feb-native-cursor-hidden {
  * {
    cursor: none !important;
  }
}
