#{$root}-modal {
    * {
        @extend .text-xs;
    }
    &:not(.bordered) {
        .modal-header {
            border-bottom-color: transparent;
        }
        .modal-footer {
            border-top-color: transparent;
        }
    }
    &.loading {
        pointer-events: none;
    }
}