#{$root} {
    .feb-form-engine.is-dragging .feb-drop-target .feb-drop-target-inner:not(.is-dragging-over) {
        opacity: .1;
    }
    .feb-form-engine.is-dragging .feb-drop-target .feb-drop-target-inner.is-dragging-over {
        opacity: 1;
    }
    .feb-fe-container {
        min-height: 3rem;
    }
    .feb-form-engine .fe-element {
        min-height: 1em;
    }
    .feb-form-engine .fe-element:hover {
        > :not(.feb-drop-target) {
            box-shadow: 0 0 0px 1px rgba($primary, 0.5);
        }
    }
    .feb-form-engine .fe-element.is-selected:hover {
        > :not(.feb-drop-target) {
            box-shadow: 0 0 0px 2px rgba($primary, 1);
        }
    }
    .feb-form-engine .fe-element.is-selected:hover {
        > :not(.feb-drop-target) {
            box-shadow: 0 0 0px 2px rgba($primary, 1);
        }
    }
    .feb-element-controls {
        position: absolute;
        bottom: 0;
        right: calc(var(--fe-gap) * .5);
        background: $primary;
        &,
        &>button {
            color: $white;
            cursor: pointer;
        }
        font-size: 10px;
        padding: 2px 4px;
        box-shadow: none !important;
        border-top-left-radius: 3px;
        visibility: hidden;
        >* {
            pointer-events: all !important;
        }
        cursor: default;
    }
    .fe-container~.feb-element-controls {
        right: 0;
    }
    .fe-container.fe-page~.feb-element-controls {
        right: calc(var(--fe-gap) * .5);
        bottom: calc(var(--fe-gap) * 2);
    }
    .fe-radios~.feb-element-controls,
    .fe-checkbox~.feb-element-controls {
        bottom: 1px;
    }
    .feb-form-engine .fe-element.is-selected>.feb-element-controls {
        visibility: visible;
    }
}

#{$root}.feb-form-engine .fe-elements {
    overflow: visible;
}