#{$root} {
  // Used when no type is provided
  --bs-border-color: #dee2e6;
  // --bs-gutter-x: 1.5rem;
  // --bs-gutter-y: 0;

  &#{$root}-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #{$root}-main-col {
    display: flex;
    flex-direction: column;
  }
  #{$root}-view {
    flex-grow: 1;
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    position: relative;
    > #{$root}-view-inner {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      align-self: stretch;
      overflow: auto;
      padding: calc(1.3rem + 0.6vw);
    }
  }

  #{$root}-main-col #{$root}-view {
    background: var(--bs-gray-200);
  }

  #{$root}-main-col #{$root}-drawer-tabs {
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
  }
}

// app toasts
#{$root} {
  --toastify-color-progress-light: $primary;
  .#{$rt-namespace}__toast {
    font-size: 12px;
    border-radius: 3px;
  }

  #{$root}-toast__close-btn {
    appearance: none;
    background: transparent;
    border: none;
    color: currentColor;
  }
}
