#{$root} #{$root}-spinner-boundary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 5rem;
    position: relative;
    flex-grow: 1;
    &.is-overlay {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $white;
        z-index: 2;
    }
}

#{$root} #{$root}-spinner-bar {
    --feb-spinner-color-a: var(--bs-primary);
    --feb-spinner-color-b: var(--bs-white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-size: 200% 200%;
    background-image: repeating-linear-gradient( 90deg, var(--feb-spinner-color-a) 0%, var(--feb-spinner-color-b) 50%, var(--feb-spinner-color-a) 100%);
    animation: FebSpinnerBar linear 3s both infinite;
}

@keyframes FebSpinnerBar {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 200% 50%;
    }
}