#{$root} .feb-app-view-navbar-search {
    @extend .text-xs;
    width: 100%;
    max-width: 300px;
    margin-bottom: 0;
    .input-group-text {
        background: transparent;
        border-color: transparent;
        color: rgba(255, 255, 255, 0.55);
        padding-left: 7px;
        svg {
            width: 1em;
            height: 1em;
        }
    }
    .form-control {
        @extend .text-xs;
        background: transparent;
        border-color: transparent;
        color: rgba(255, 255, 255, 0.55);
        border-radius: 16px !important;
        &:focus {
            box-shadow: none;
            color: rgba(255, 255, 255, 1);
            background: rgba(255, 255, 255, 0.1);
        }
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(255, 255, 255, 0.55);
            opacity: 1;
            /* Firefox */
        }
        &::-webkit-search-cancel-button {
            display: none;
        }
    }
}

#{$root} .navdropdown-end .dropdown-menu[data-bs-popper] {
    right: 0;
    left: auto;
}