#{$root} .feb-tree-level {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    .feb-tree-level {
        padding-left: 1rem;
    }
}

#{$root} .feb-tree-item {
    padding: 5px 0;
    &:not(.feb-tree-item--expanded)>.feb-tree-item__children {
        display: none;
    }
    .feb-tree-item__label {
        padding-left: 1.1em;
    }
    .feb-tree-collapse-btn {
        @extend .btn;
        &:focus,
        &:active {
            outline: 0;
            box-shadow: none;
        }
        padding: 0;
        font-size: inherit;
        margin-left: -1.1em;
    }
    .feb-tree-node-value {
        word-wrap: break-word;
    }
}