#{$root} .feb-table {
  @extend .text-xs;
  width: 100%;
  height: 100%;
  .feb-tc {
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid $gray-300;
    border-right: 1px solid $gray-300;
    padding: 5px;
    white-space: nowrap;
  }

  .feb-th {
    font-weight: bold;
  }

  .feb-thead {
    overflow: hidden !important;
  }
}
