#{$root}-variable-select {
    #{$root}-select__control {
        border-color: transparent !important;
        box-shadow: none !important;
    }
    #{$root}-select__indicators {
        display: none;
    }
    #{$root}-select__menu {
        border: none;
        box-shadow: none;
        margin: 0;
        border-top: 1px solid $gray-200;
        border-radius: 0;
    }
}