#{$root}-inline-input {
  display: inline-block;
  width: calc(100% + 6px);
  margin: 0;
  appearance: none;
  padding: 3px;
  border: 1px solid $gray-300;
  border-radius: 0;
  margin-top: -3px;
  margin-left: -3px;
  margin-right: -3px;
  &:focus {
    outline: none;
  }
  &:not(:focus) {
    cursor: pointer;
    border: 1px solid transparent;
    background: transparent;
  }
}
