$drawer-nav-indent: 0.75rem !default;
$drawer-nav-max-depths: 4 !default;
@use 'sass:math';
@use 'sass:color';
#{$root} {
    .feb-drawer-nav {
        border-radius: 3px;
    }
    .feb-drawer-nav-item {
        position: relative;
        @extend .text-xs;
    }
    .feb-drawer-nav-button {
        padding: 0 5px;
        border-radius: 3px;
        border: none;
        background: transparent;
        appearance: none;
        display: block;
        width: 100%;
        text-align: left;
        border: 1px solid rgba(var(--bs-primary-rgb), 0);
        display: flex;
        >.label {
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: auto;
            white-space: nowrap;
            flex-grow: 1;
            appearance: none;
            background: transparent;
            border: none;
            color: currentColor;
            margin: 0;
            text-align: left;
            text-decoration: none;
            padding: 5px 0px 5px 3px;
        }
        >.actions {
            flex: 0 0 18px;
            justify-self: flex-end;
            display: none;
            padding: 5px 0;
        }
    }
    .feb-drawer-nav-button svg {
        margin-right: 0.5em;
        margin-top: -1px;
    }
    .feb-drawer-nav-button .type-icon svg {
        transform: translateY(-1px);
    }
    .feb-drawer-nav-item.active>.feb-drawer-nav-button {
        background: $primary;
        color: color-contrast($primary);
    }
    html:not(.is-dragging) & .feb-drawer-nav-button:hover {
        border-color: rgba(var(--bs-primary-rgb), 0.8);
    }
    $selector: '.feb-drawer-nav-item .feb-drawer-nav-item ';
    @for $i from 1 through $drawer-nav-max-depths {
        $selector: $selector + '.feb-drawer-nav-item ';
        #{$selector} .feb-drawer-nav-button {
            padding-left: calc(#{$drawer-nav-indent} * #{$i});
        }
    }
    // .feb-drawer-nav-item.active {
    //     overflow: hidden;
    // }
    .feb-drawer-nav-item.active .feb-drawer-nav-item::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        background-color: color.scale($primary, $lightness: 80%, $saturation: -35%);
    }
    $selector: '.feb-drawer-nav-item.active ';
    @for $i from 1 through $drawer-nav-max-depths {
        $selector: $selector + '.feb-drawer-nav-item ';
        #{$selector}::before {
            background-color: color.scale( $primary, $lightness: 90% + ($i * math.div(1, $drawer-nav-max-depths)) * 10%, $saturation: -35%);
        }
    }
    .feb-drawer-nav-button>.actions>button {
        appearance: none;
        background: transparent;
        border: none;
        color: currentColor;
        opacity: 0;
        padding: 0;
        margin: 0;
        >svg {
            margin: 3px;
        }
    }
    .feb-drawer-nav-button:hover>.actions {
        display: block;
        html:not(.is-dragging) &>button {
            opacity: 0.5;
            &:hover,
            &:active,
            &:hover:active {
                opacity: 0.75;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
            }
        }
    }
    .feb-drawer-nav-collapse-button {
        color: currentColor;
        appearance: none;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }
}

#{$root} {
    .feb-drawer-nav-item .feb-drop-target {
        pointer-events: none;
        position: relative;
        width: auto;
        z-index: 1;
        // transition: height 0.2s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.15s ease;
        html.is-dragging & {
            pointer-events: all;
        }
    }
    $selector: '.feb-drawer-nav-item .feb-drawer-nav-item ';
    @for $i from 1 through $drawer-nav-max-depths {
        $selector: $selector + '.feb-drawer-nav-item ';
        #{$selector} .feb-drop-target {
            margin-left: calc(#{$drawer-nav-indent} * #{$i} + 0.5rem);
        }
    }
    .feb-drawer-nav-item .feb-drop-target .feb-drop-target-inner {
        position: absolute;
        top: -1px; // calc((10px - 1px) / -2);
        left: 0;
        width: 100%;
        height: 2px;
        background: $secondary;
        color: var(--bs-white);
        text-align: center;
        display: flex;
        justify-content: center;
        transition: opacity 0.2s ease;
        pointer-events: all !important;
        opacity: 0;
        html.is-dragging & {
            opacity: 0.3;
        }
        html.is-dragging &,
        & {
            &.is-dragging-over {
                opacity: 1;
            }
        }
        // &::before {
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     top: -1.5px;
        //     width: 5px;
        //     height: 5px;
        //     background-color: $secondary;
        //     border-radius: 3px;
        // }
    }
    $selector: '.feb-drawer-nav-item ';
    @for $i from 1 through $drawer-nav-max-depths {
        $selector: $selector + '.feb-drawer-nav-item ';
        #{$selector} .feb-drop-target-inner {
            left: calc(#{$drawer-nav-indent} * #{$i});
            width: calc(100% - (#{$drawer-nav-indent} * #{$i}));
        }
        #{$selector} .feb-drop-target {
            z-index: #{1 + $i};
        }
    }
    .feb-drawer-nav-item .feb-drag-source {
        user-select: none;
        position: relative;
        cursor: grab;
    }
    .feb-drawer-nav-item .feb-drag-source {
        > :not(.feb-drop-target)>* {
            transition: opacity 0.15s ease;
        }
    }
    .feb-drawer-nav-item .feb-drag-source.is-dragging,
    .feb-drawer-nav-item .feb-drag-source.is-selected.is-dragging {
        opacity: 0.3;
        >.feb-drop-target {
            pointer-events: none;
            opacity: 1;
        }
    }
}