#{$root} {
    .feb-outline-item {
        margin: 5px 0;
        @extend .text-xs;
    }
    .feb-outline-item-button {
        padding: 5px;
        border-radius: 3px;
        border: none;
        background: transparent;
        appearance: none;
        display: block;
        width: 100%;
        text-align: left;
        border: 1px solid rgba(var(--bs-primary-rgb), 0);
        display: flex;
        >.label {
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: auto;
            white-space: nowrap;
            flex-grow: 1;
            appearance: none;
            background: transparent;
            border: none;
            color: currentColor;
            padding: 0;
            margin: 0;
            text-align: left;
            padding-left: 3px;
        }
        >.actions {
            flex: 0 0 18px;
            justify-self: flex-end;
            display: none;
        }
    }
    .feb-outline-item-button svg {
        margin-right: 0.5em;
        margin-top: -1px;
    }
    .feb-outline-item.is-selected>.feb-drag-source>.feb-outline-item-button {
        background: var(--bs-primary);
        color: var(--bs-white);
    }
    .feb-outline-item-button:hover {
        border-color: rgba(var(--bs-primary-rgb), 0.3);
    }
    .feb-outline-item .feb-outline-item .feb-outline-item .feb-outline-item-button {
        padding-left: 1rem;
    }
    .feb-outline-item .feb-outline-item .feb-outline-item .feb-outline-item .feb-outline-item-button {
        padding-left: 2rem;
    }
    .feb-outline-item .feb-outline-item .feb-outline-item .feb-outline-item .feb-outline-item .feb-outline-item-button {
        padding-left: 2.5rem;
    }
    .feb-outline-item-button>.actions>button {
        appearance: none;
        background: transparent;
        border: none;
        color: currentColor;
        opacity: 0;
        padding: 0;
        margin: 0;
    }
    .feb-outline-item-button:hover>.actions {
        display: block;
        >button {
            opacity: 0.5;
            &:hover,
            &:active,
            &:hover:active {
                opacity: 0.75;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
            }
        }
    }
}