#{$root} .feb-view-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(0deg, rgba(var(--bs-light-rgb), 0) 0%, var(--bs-gray-200) 18%, var(--bs-gray-200) 100%);
    padding: 0 1em;
    margin: 0 -1em;
    >hr {
        margin: 0 -1.5rem;
    }
}