:root {
    --fe-gap: 16px;
    --fe-max-width: 1320px;
}

:host {
    --fe-gap: 16px;
    --fe-max-width: 1320px;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    font-family: var(--bs-body-font-family);
}

.fe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: var(--fe-max-width);
    transition: opacity 0.25s ease;
    position: relative;
    min-height: 33vh;
    &.is-loading {
        pointer-events: none;
    }
    &:not(.is-initialized) {
        opacity: 0;
        pointer-events: none;
    }
    >.fe-elements {
        flex-grow: 1;
        margin-left: calc(var(--fe-gap) * -0.5);
        margin-right: calc(var(--fe-gap) * -0.5);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    &-element {
        width: 100%;
        padding-left: calc(var(--fe-gap) * 0.5);
        padding-right: calc(var(--fe-gap) * 0.5);
    }
    &-checkbox,
    &-radios {
        min-height: 1rem;
    }
    &-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: calc(var(--fe-gap) * -0.5);
        margin-right: calc(var(--fe-gap) * -0.5);
    }
    &-body-text {
        display: flow-root;
    }
    &-body-text img {
        width: 100%;
        height: auto;
    }
    @for $i from 1 through 12 {
        &-mt-#{$i} {
            margin-top: calc(var(--fe-gap) * #{$i} * 0.5);
        }
        &-mb-#{$i} {
            margin-bottom: calc(var(--fe-gap) * #{$i} * 0.5);
        }
        @media screen and (min-width: 991px) {
            &-width-#{$i} {
                width: calc(100% / 12 * #{$i});
            }
            &-ms-#{$i} {
                margin-left: calc(100% / 12 * #{$i});
            }
            &-mr-#{$i} {
                margin-right: calc(100% / 12 * #{$i});
            }
            &-mt-#{$i} {
                margin-top: calc(var(--fe-gap) * #{$i});
            }
            &-mb-#{$i} {
                margin-bottom: calc(var(--fe-gap) * #{$i});
            }
        }
    }
    &-page {
        background: #fff;
        padding-top: calc(var(--fe-gap) * 2);
        padding-bottom: calc(var(--fe-gap) * 2);
        padding-left: calc(var(--fe-gap) * 1.5);
        padding-right: calc(var(--fe-gap) * 1.5);
        margin-bottom: calc(var(--fe-gap) * 2);
        margin-left: 0;
        margin-right: 0;
    }
}

.fe-spinner-boundary {
    display: flex;
    justify-content: flex-end;
    /*align-items: center;*/
    height: 100%;
    min-height: 5rem;
    position: relative;
    flex-grow: 1;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(1px);
    z-index: 2;
    .fe-spinner {
        margin-top: 2rem;
        margin-right: 2rem;
    }
    transition: opacity .3s ease-out,
    visibility 0s linear .3s;
    visibility: hidden;
    opacity: 0;
    &--show {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s ease-out;
    }
}

.fe .fe-spinner-bar {
    --fe-spinner-color-a: var(--bs-primary);
    --fe-spinner-color-b: var(--bs-white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-size: 200% 200%;
    background-image: repeating-linear-gradient( 90deg, var(--fe-spinner-color-a) 0%, var(--fe-spinner-color-b) 50%, var(--fe-spinner-color-a) 100%);
    animation: FeSpinnerBar linear 3s both infinite;
}

@keyframes FeSpinnerBar {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 200% 50%;
    }
}