#{$root}-icon-btn {
    appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    padding: 0.25rem 0.5rem;
    &:focus {
        outline: none;
    }
    opacity: 0.9;
    &:disabled {
        opacity: 0.6;
    }
    &:not(:disabled) {
        &:active,
        &:hover {
            opacity: 1;
        }
    }
    >svg {
        pointer-events: none;
    }
    transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
    // &--primary {
    //   @extend .text-primary;
    // }
    // &--secondary {
    //   @extend .text-secondary;
    // }
    // &--success {
    //   @extend .text-success;
    // }
    // &--warning {
    //   @extend .text-warning;
    // }
    // &--danger {
    //   @extend .text-danger;
    // }
    // &--light {
    //   @extend .text-light;
    // }
    // &--dark {
    //   @extend .text-dark;
    // }
}