#{$root}-element-mask {
  * {
    @extend .text-xs;
  }

  .fe-property:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  .input-group-text {
    background: var(--bs-white);
  }

  .form-control-sm,
  .form-select-sm {
    @extend .text-xs;
  }
}

#{$root}-mask-group {
  h6 {
    font-weight: bold;
    font-size: 1em;
  }
  &-head {
    padding: $gap-spacer;
    padding-bottom: 0;
  }

  &-body {
    padding: $gap-spacer;
    width: 100%;
    // overflow: hidden;
  }
  &:not(:last-child) {
    border-bottom: 1px solid var(--bs-border-color);
  }
}

#{$root} #{$root}-main-col > #{$root}-element-mask {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  #{$root}-view {
    background: unset;
  }
}
