$root: '.feb' !default;

$gap-spacer: 0.75rem !default;

$oxford-blue: #0b132bff;
$space-cadet: #1c2541ff;
$independence: #3a506bff;
$maximum-blue-green: #5bc0beff;
$turquoise-blue: #6fffe9ff;

$border-radius: 3px !default;
$border-radius-sm: 3px !default;
$border-radius-lg: 3px !default;
$border-radius-pill: 50rem !default;

// Lavender Theme

// $primary: #9088d7;
// $secondary: #383a54;
// $topbar-bg-secondary: #1f232d;
// $topbar-bg-navlink-active: $secondary;
// $topbar-bg-appview: $secondary;

// Neon Violet Theme

// $primary: #2f2dc9;
// $secondary: #383a54;
// $topbar-bg-secondary: #1f232d;
// $topbar-bg-navlink-active: $secondary;
// $topbar-bg-appview: $secondary;

// Neon Blue Theme

// $primary: #4361ee;
// $secondary: #43425e;
// $topbar-bg-secondary: #303042;
// $topbar-bg-navlink-active: $secondary;
// $topbar-bg-appview: $secondary;

// Bosch Theme

// $bosch-blue: #007bc0;
// $bosch-darkblue: #004975;
// $primary: $bosch-blue;
// $secondary: $bosch-darkblue;
// $topbar-bg-secondary: $bosch-darkblue;
// $topbar-bg-navlink-active: $bosch-blue;
// $topbar-bg-appview: $bosch-blue;

// DIA Theme

// $primary: #babc16;
// $secondary: #384754;
// $topbar-bg-secondary: #1f2a2d;
// $topbar-bg-navlink-active: $secondary;
// $topbar-bg-appview: $secondary;

// Restrained Theme

$primary: #004ef6;
$secondary: #24272b;
$topbar-bg-secondary: #1f1f1f;
$topbar-bg-navlink-active: $secondary;
$topbar-bg-appview: $secondary;

// Dark Theme;
