#{$root} .feb-elements-drawer {
  button {
    appearance: none;
    background: transparent;
    border: none;
  }

  button:hover {
    color: var(--bs-gray-600);
  }

  .nav-item {
    margin: 10px 0;
  }
}
