#{$root} .feb-sort-control {
    .dropdown-toggle {
        @extend .text-xs;
        color: currentColor;
        text-decoration: none;
        margin-top: 2px;
    }
    .dropdown-menu {
        @extend .text-xs;
        .dropdown-header {
            @extend .text-xs;
        }
    }
}

#{$root} .feb-formlisting-control-label {
    @extend .text-muted;
    @extend .text-xs;
    line-height: 1.5;
    padding: calc(.25rem + 1px) .5rem;
    padding-right: 0;
    margin-top: 2px;
}

#{$root} .feb-form-listing-controls .feb-select {
    min-width: 10em;
    .feb-select__control {
        min-height: 31px;
    }
}