#{$root}-form-engine {
    .feb-drop-target {
        position: relative;
        height: 1px;
        width: 100%;
        background: rgba(var(--bs-primary), 0);
        z-index: 1;
        margin-top: -1px;
    }
    .feb-drop-target .feb-drop-target-inner {
        position: absolute;
        top: calc((10px - 1px) / -2);
        left: 0;
        height: 10px;
        width: 100%;
        opacity: 0;
        background: $primary;
        color: var(--bs-white);
        text-align: center;
        display: flex;
        justify-content: center;
        transition: opacity 0.2s ease;
    }
    .fe-page+.feb-drop-target>.feb-drop-target-inner {
        top: calc(((10px - 1px) / -2) - (var(--fe-gap) * 2));
    }
    .fe-container:not(.fe-page)>.feb-drop-target {
        margin-top: 1.5rem;
        width: calc(100% - var(--fe-gap) * 4);
        margin-left: auto;
        margin-right: auto;
    }
    .feb-drag-source {
        > :not(.feb-drop-target) {
            box-shadow: 0 0 0px 1px rgba($primary, 0);
        }
        user-select: none;
        position: relative;
        cursor: grab;
    }
    .feb-drag-source.is-dragging .feb-drop-target {
        display: none;
    }
     :not(.feb-drag-source, .feb-drop-target, .feb-drop-target-inner, .feb-fe-container, .fe-elements, .feb-element-controls) {
        pointer-events: none;
    }
    // .feb-drag-source:hover .feb-drag-source {
    //   box-shadow: 0 0 1px 1px rgba($primary, 0.5);
    // }
    .feb-drag-source.is-selected {
        > :not(.feb-drop-target) {
            box-shadow: 0 0 0px 1px rgba($primary, 0.9);
        }
        // box-shadow: 0 0 1px 1px rgba($primary, 0.5);
    }
    .feb-drag-source {
        > :not(.feb-drop-target)>* {
            transition: opacity 0.15s ease;
        }
    }
    .feb-drag-source {
        > :not(.feb-drop-target) {
            box-shadow: 0 0 0px 1px rgba($primary, 0.1);
        }
    }
    .feb-drag-source.is-dragging,
    .feb-drag-source.is-selected.is-dragging {
        > :not(.feb-drop-target) {
            box-shadow: 0 0 0px 2px rgba($primary, 0.9);
        }
        > :not(.feb-drop-target)>* {
            opacity: 0.3;
        }
        >.feb-drop-target {
            pointer-events: none;
        }
    }
}