html body #{$root}-select {
    &__control {
        min-height: calc(1.5em + 0.5rem + 2px);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &,
        &:hover {
            color: $input-color;
            border: $input-border-width solid $input-border-color;
            background-color: $input-bg;
            border-radius: $input-border-radius;
        }
        &--is-focused,
        &--is-focused:hover {
            color: $input-focus-color;
            background-color: $input-focus-bg;
            border-color: $input-focus-border-color;
            outline: 0;
            @if $enable-shadows {
                @include box-shadow($input-box-shadow, $input-focus-box-shadow);
            }
            @else {
                // Avoid using mixin so we can pass custom focus shadow properly
                box-shadow: $input-focus-box-shadow;
            }
        }
    }
    &__indicator {
        padding: 0px 8px;
    }
    &__indicator-separator {
        opacity: 0;
    }
    &__dropdown-indicator {
        padding: 0px 8px 0px 4px;
    }
    &__clear-indicator {
        appearance: none;
        background: transparent;
        border: none;
        color: currentColor;
        padding: 0px 2px 0px 8px;
    }
    &__input-container {
        padding-top: 0;
        padding-bottom: 0;
    }
    &__option {
        min-height: calc(1.5em + 0.5rem + 2px);
        padding: 5px 8px;
        &:hover,
        &--is-focused,
        &--is-focused:hover,
        &--is-focused:active {
            background: rgba($primary, 0.1);
            color: currentColor;
        }
        &--is-selected,
        &--is-selected:hover,
        &--is-selected:active {
            background: rgba($primary, 0.7);
            color: color-contrast($primary);
        }
        &:active {
            background: $primary;
            color: color-contrast($primary);
        }
    }
    &__menu {
        z-index: 10;
    }
    &__control--is-disabled {
        background-color: $gray-200;
        &,
        #{$root}-select__single-value,
        #{$root}-select__placeholder {
            color: $gray-900;
        }
    }
}