#{$root}-drawer-tabs {
    @extend .text-xs;
    font-weight: 600;
    border-bottom-color: var(--bs-border-color);
    .nav-link {
        padding-left: $gap-spacer;
        padding-right: $gap-spacer;
        color: rgba(0, 0, 0, 0.33);
        border-color: transparent;
        &.active,
        &:hover,
        &:hover:active {
            color: currentColor;
            border-color: transparent;
            background-color: transparent;
        }
    }
    svg {
        margin: 3px;
    }
}

#{$root}-main-col #{$root}-drawer-tabs {
    margin-left: $gap-spacer;
    margin-right: $gap-spacer;
}