$topbar-bg-appview: $dark !default;

#{$root} .feb-app-view-navbar {
  @extend .text-xs;

  &.bg-dark {
    background-color: $topbar-bg-appview !important;
  }

  .dropdown-item {
    @extend .text-xs;
  }

  svg {
    width: 1.3em;
    height: 1.3em;
  }
}
