#{$root}-array-form-control {
    font-size: 12px;
    width: 100%;
    border: 1px solid transparent;
    &--disabled {
        pointer-events: none;
        background: $gray-200;
        border-radius: $border-radius;
        overflow: hidden;
        border: 1px solid $gray-400;
        >#{$root}-array-form-control__body {
            opacity: .7;
        }
    }
    &__head,
    &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    &__cell,
    &__headcell {
        border: 1px solid var(--bs-border-color);
        padding: calc($gap-spacer / 2);
        &:not(:last-child) {
            border-right: none;
        }
    }
    &__headcell {
        padding-top: calc($gap-spacer / 2 + 2px);
        padding-bottom: calc($gap-spacer / 2 + 2px);
    }
    &__headcell {
        border: 1px solid var(--bs-border-color);
        flex: 1 1 0px;
        font-weight: bold;
    }
    &__cell {
        border: 1px solid var(--bs-border-color);
        min-height: 2em;
        flex: 1 1 0px;
    }
    &__cell>input {
        border: 1px solid transparent;
        appearance: none;
        background: transparent;
        display: block;
        width: 100%;
        border-radius: 0;
        &:focus {
            outline: none;
            border: 1px solid var(--bs-border-color);
            background: white;
        }
    }
    &__row {
        margin-top: -1px;
        &:focus-within {
            background-color: var(--bs-gray-100);
        }
    }
    &__prefix-headcell,
    &__prefix-cell {
        flex: 0 0 1.5rem;
        padding-right: 0;
    }
    &__prefix-cell+&__cell {
        border-left: none;
    }
    &__prefix-headcell+&__headcell {
        border-left: none;
    }
    &__prefix-cell {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__suffix-headcell,
    &__suffix-cell {
        flex: 0 0 1.5rem;
        padding-left: 0;
    }
    &__suffix-cell {
        border-left: none;
    }
    &__suffix-headcell {
        border-left: none;
    }
    &__suffix-cell {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__cell .feb-icon-btn {
        padding: 0;
    }
    & &__dnd-btn,
    & &__remove-btn {
        opacity: 0;
    }
    &__row:hover &__dnd-btn,
    &__row:hover &__remove-btn {
        opacity: 1;
    }
    &__cell .feb-select__control {
        &,
        &:hover {
            border-color: transparent;
            box-shadow: none;
            border-radius: 0;
            min-height: 23px;
            background: transparent;
        }
        &--is-focused,
        &--is-focused:hover {
            border-color: var(--bs-border-color);
            box-shadow: none;
            background: $white;
        }
        .feb-select__value-container {
            padding: 0px 2px;
        }
        .feb-select__indicators {
            display: none;
        }
        .feb-select__input-container {
            margin: 0;
        }
    }
}