$topbar-bg-secondary: #161616 !default;
$topbar-bg-navlink: #fff !default;
$topbar-bg-navlink-hover: rgba(#fff, 0.04) !default;
$topbar-bg-navlink-active: $dark !default;
$topbar-closetab-color: rgba( color-contrast($topbar-bg-secondary), 0.15) !default;
$topbar-closetab-color-hover: rgba( color-contrast($topbar-bg-secondary), 0.55) !default;
$topbar-closetab-color-active: rgba($topbar-bg-navlink-active, 0.75) !default;
#{$root} .feb-app-navbar {
    @extend .text-xs;
    padding-top: 0;
    padding-bottom: 0;
    .navbar-nav .nav-link {
        line-height: 1;
        margin-right: 5px;
        span {
            margin-left: 5px;
        }
    }
    &.navbar-dark .navbar-nav .nav-link {
        &:hover {
            background: $topbar-bg-navlink-hover;
        }
        &.active {
            background: $topbar-bg-navlink-active;
        }
    }
    &.bg-dark {
        --bs-bg-opacity: 1;
        background-color: $topbar-bg-secondary !important;
    }
    svg {
        width: 1.25em;
        height: 1.25em;
    }
    .close-tab-btn {
        appearance: none;
        background: transparent;
        border: none;
        color: $topbar-closetab-color;
        padding: 0;
        margin: 0 0 0 0.5em;
        &:hover,
        &:active,
        &:hover:active {
            color: $topbar-closetab-color-active !important;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        }
    }
    a:hover .close-tab-btn {
        color: $topbar-closetab-color-hover;
    }
}