#{$root}-app-col {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0;
  padding-left: 0;
  @extend .text-xs;
  display: flex;
  flex-direction: column;

  &--border-right {
    border-right: 1px solid var(--bs-border-color);
  }
  &--border-left {
    border-left: 1px solid var(--bs-border-color);
  }
}
