<link rel="apple-touch-icon" sizes="180x180" href="/assets/app-icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/app-icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/app-icons/favicon-16x16.png">
<link rel="manifest" href="/assets/app-icons/site.webmanifest">
<link rel="mask-icon" href="/assets/app-icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/app-icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Form Engine">
<meta name="application-name" content="Form Engine">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/app-icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">