#{$root} .feb-card {
    height: 100%;
    width: 100%;
}

#{$root} .feb-card:is(a, button) {
    &:hover {
        box-shadow: 0px 0px 0px 2px $primary;
    }
    &.active {
        color: $input-focus-color;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color;
        outline: 0;
        @if $enable-shadows {
            @include box-shadow($input-box-shadow, $input-focus-box-shadow);
        }
        @else {
            // Avoid using mixin so we can pass custom focus shadow properly
            box-shadow: $input-focus-box-shadow;
        }
    }
    text-decoration: none;
    color: currentColor;
    text-align: left;
}